body {
    background-color: #efefef;
}

#header {
    margin-bottom: 20px;
}

#footer {
    margin-top: 60px;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}

time
{
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 10px;
}

article {
    margin-bottom: 60px;
}

article + article {
    margin-top: 40px;
    border-top: 1px solid #c0c0c0;
    padding-top: 40px;
}

article .tags
{
    border-left: 5px solid #c0c0c0;
    padding-left: 10px;
    font-style: italic;
}

article .tags a
{
    font-style: normal;
}

#navbar-toggle:checked ~ .collapse {
    display: block;
}
